<div class="container">
  <h1>Voici tous les arbres</h1>

  <% @trees.each do |tree| %>
    <p><%=  tree.name %></p>
    <p><%=  tree.address %></p>
    <p><%=  tree.description %></p>
    <p><%=  tree.fruit_type %></p>
    <p><%= tree.price_per_year %></p>
    <p><%= tree.quantity_per_year %></p>
    <p><%= link_to "Voir l'arbre", tree_path(tree), class: "btn btn-primary"  %></p>
    <p><%= link_to "Modifier l'arbre", edit_tree_path(tree), class: "btn btn-primary" %></p>
    <%= link_to "Delete", tree_path(tree), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },  class: "btn btn-primary"%>
  <% end %>

  <br>
  <br>

  <%= link_to "Ajouter un arbre", new_tree_path, class: "btn btn-primary" %>
</div>
